.container {
  display: flex;

  flex-direction: flex-wrap;
}
.interface {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 0;
  justify-content: end;
  width: 80%;
  height: 80%;
}
.groupeBar {
  display: flex;
  flex-direction: column;
  width: 20%;
}

header {
  padding: 20px 0px; /*Marge verticale*/
  background-color: rgba(27, 114, 75, 0.606); /*Couleur de fond*/
  text-align: center; /*texte centré*/
}
.centercolumn {
  width: 100%; /*Taille de la colonne centrée moins le padding*/

  margin: auto; /*centrer la colonne*/
  padding: 25px; /*margin interne*/
}

.inputMail,
.inputPassword,
.firstName,
.lastName {
  border: 2px solid rgba(43, 99, 220, 0.355);
  border-radius: 15px;
  height: 3vh;
  outline: 0;
  font-size: 14px;
  width: 25vh;
}

.formConnexion,
.inputBox,
.formInscription,
.messagesBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40vh;
  margin: auto;
}
h1,
h2,
.msg,
h4 {
  text-align: center;
}
.formConnexion,
.formInscription,
.mainView {
  border: 2px solid rgba(43, 99, 220, 0.355);
  border-radius: 30px;
  padding: 10vh;
  background-color: rgba(27, 114, 75, 0.606);
}

body,
html {
  margin: 0;
  padding: 0;
  background-color: #c7d6ca9b;
}

.logBtn,
.regBtn {
  margin: auto;
  color: white;
  border-radius: 6px;
  margin: 5px;
  padding: 7px;
  background-color: rgba(5, 46, 5, 0.276);
}

label {
  margin-bottom: 5px;
  font-style: italic;
}

.choiceRow,
.messages {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.alert {
  margin: 7px;
}
a {
  text-decoration: none;
  color: black;
  margin-top: 20px;
  text-align: left;
  font-style: italic;
}
.icone-verif {
  position: relative;

  left: 70%;
  width: 5%;

  display: none;
}
.message-alerte {
  margin: 0px 23px;
  color: crimson;
  display: none;
}
.ligne {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
}
.l1,
.l2,
.l3 {
  width: 30%;
  height: 5px;
  margin: 15px 5px 20px;
  position: relative;
  display: none;
}
.l1 {
  background: rgb(182, 182, 13);
}
.l2 {
  background: rgb(151, 85, 85);
}
.l3 {
  background: green;
}
.ligne span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 10px;
}
button {
  display: block;
  margin: 30px auto;
  outline: 0;
  background: rgb(250, 165, 9);
  width: 90%;
  border: 0;
  padding: 15px;
  border-radius: 3px;
  font-size: 20px;
  cursor: pointer;
}
button:hover {
  background: rgb(252, 181, 49);
}
button:active {
  background: rgb(250, 165, 9);
}
footer {
  background: rgb(233, 236, 233);
  width: 100%;
  text-align: center;
  bottom: 0;
  padding-top: 50px;
  height: 50px;
}

.containerGeneral {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
}
.containerGeneral {
  display: flex;
  flex-direction: row;
}
.message_container {
  display: flex;
  margin: 5%;
  margin-top: 0;
  margin-bottom: 0;

  /* border: 2px solid rgba(43, 99, 220, 0.355); */
  /* background-color: rgba(27, 114, 75, 0.606); */
  width: 50%;
}
.message_container1 {
  display: flex;
  width: 50%;
  flex-direction: row-reverse;
  /* border: 2px solid rgba(43, 99, 220, 0.355); */
  /* background-color: rgba(27, 114, 75, 0.606); */
  margin-left: 45%;
  margin-top: 0;
  margin-bottom: 0;
}
.message {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 5px;
  border-radius: 10px;
  /* background-color: white; */
  font-size: 15px;
  color: black;
  font-style: italic;
}
.card {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.chattingBox {
  display: flex;
  padding: 10vh;
  border: 2px solid rgba(43, 99, 220, 0.355);
  border-radius: 30px;
  width: 50%;
  background-color: rgba(27, 114, 75, 0.606);
  margin: auto;
}
.picture {
  margin-top: 1%;
  width: 5em;
  border: 2px solid black;
  border-radius: 50%;
  height: 5em;
  background-color: rgba(118, 214, 171, 0.606);
}
/* .userInput {
  border: 2px solid rgba(43, 99, 220, 0.355);
  border-radius: 15px;
  height: 20vh;
  outline: 0;
  font-size: 14px;
  width: 80%;
} */
.pseudo {
  width: 100%;
  font-size: 25px;
  margin-top: 2%;
  color: rgb(101, 25, 25);
}
.time {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  color: rgb(101, 25, 25);
  text-align: right;
  margin-right: 2%;
}
.time2 {
  text-align: left;
  margin-left: 2%;
}
#date_time {
  display: flex;
  flex-direction: column;
  font-size: 15px;
}

.pseudo2 {
  width: 100%;
  text-align: right;
}
.msgSend {
  width: 100%;
  height: 150px;
}
.formUser {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
}
textarea {
  font-size: 15px;
  border: 2px solid black;
  padding: 2rem 1rem;
  min-height: 3em;
  resize: both;
  background: rgba(255, 255, 255, 0.8);
  border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cstyle%3Epath%7Banimation:stroke 25s infinite linear%3B%7D%40keyframes stroke%7Bto%7Bstroke-dashoffset:776%3B%7D%7D%3C/style%3E%3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%232d3561' /%3E%3Cstop offset='25%25' stop-color='%23c05c7e' /%3E%3Cstop offset='50%25' stop-color='%23f3826f' /%3E%3Cstop offset='100%25' stop-color='%23ffb961' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke='url(%23g)' stroke-width='3' stroke-dasharray='388'/%3E %3C/svg%3E")
    1;
}
/*--------------------------------------button send-------------------------------------*/

@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:200,900");

:root {
  --text-color: hsla(210, 50%, 85%, 1);
  --shadow-color: hsla(210, 40%, 52%, 0.4);
  --btn-color: hsl(210, 80%, 42%);
  --bg-color: #268154;
}

button {
  position: relative;
  padding: 10px 20px;
  border: none;
  background: none;
  cursor: pointer;

  font-family: "Source Code Pro";
  font-weight: 200%;

  font-size: 30px;
  color: white;

  background-color: #2b6777;
  box-shadow: #676a6b 2px 2px 22px;
  border-radius: 4px;
  z-index: 0;
  overflow: hidden;
}

button:focus {
  outline-color: transparent;
  box-shadow: #676a6b 2px 2px 22px;
}

button::after {
  /* content: var(--content); */
  display: block;
  position: absolute;
  white-space: nowrap;
  padding: 40px 40px;
  pointer-events: none;
}

button::after {
  font-weight: 200;
  top: -30px;
  left: -20px;
}

.right,
.left {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
.right {
  left: 66%;
}
.left {
  right: 66%;
}
.right::after {
  top: -30px;
  left: calc(-66% - 20px);

  background-color: var(--bg-color);
  color: transparent;
  transition: transform 0.4s ease-out;
  transform: translate(0, -90%) rotate(0deg);
}

button:hover .right::after {
  transform: translate(0, -47%) rotate(0deg);
}

button .right:hover::after {
  transform: translate(0, -50%) rotate(-7deg);
}

button .left:hover ~ .right::after {
  transform: translate(0, -50%) rotate(7deg);
}

/* bubbles */
button::before {
  content: "";
  pointer-events: none;
  opacity: 0.6;
  background: radial-gradient(
      circle at 20% 35%,
      transparent 0,
      transparent 2px,
      var(--text-color) 3px,
      var(--text-color) 4px,
      transparent 4px
    ),
    radial-gradient(
      circle at 75% 44%,
      transparent 0,
      transparent 2px,
      var(--text-color) 3px,
      var(--text-color) 4px,
      transparent 4px
    ),
    radial-gradient(
      circle at 46% 52%,
      transparent 0,
      transparent 4px,
      var(--text-color) 5px,
      var(--text-color) 6px,
      transparent 6px
    );

  width: 100%;
  height: 300%;
  top: 0;
  left: 0;
  position: absolute;
  animation: bubbles 3s linear infinite both;
}

@keyframes bubbles {
  from {
    transform: translate();
  }
  to {
    transform: translate(0, -66.666%);
  }
}

/*----------------------------------header------------------------------------*/
/* Styles généraux */

header {
  transition: background-color 1s ease;
  background: linear-gradient(
    30deg,
    #2b6777,
    #52ab98,
    #69c4b0,
    #b1bcc4,
    #c8d8e4,
    #f2f2f2,
    #ffff,
    #f2f2f2,
    #c8d8e4,
    #b1bcc4,
    #69c4b0,
    #52ab98,
    #2b6777
  );
  background-size: auto;
  background-size: 100% 150%;
  animation: degradeFond 30s ease infinite;
}
@keyframes degradeFond {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

/* Réglages du bloc de texte général */
#wrapper {
  margin: auto;
  text-align: center;
  font-family: "Dancing Script", cursive;
}
#wrapper .lettre {
  white-space: normal;
  display: inline-block;
  font-size: 6em;
  font-weight: 200;
  background: linear-gradient(
    30deg,
    #e5e0f9,
    #c5c7db,
    #eaedf3,
    #c5d2db,
    #e0f6f9
  );
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  position: relative;
}

/* Animations des lettres */
.lettre span {
  opacity: 0;
}
.letter01 {
  animation: letters 3s ease 0000ms forwards;
}
.letter02 {
  animation: letters 3s ease 0500ms forwards;
}
.letter03 {
  animation: letters 3s ease 1000ms forwards;
}
.letter04 {
  animation: letters 3s ease 1500ms forwards;
}
.letter05 {
  animation: letters 3s ease 2000ms forwards;
}
@keyframes letters {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.lettre::after {
  content: "";
  display: block;
  background: linear-gradient(
    45deg,
    #f9cff3,
    #d4b6db,
    #e5d6f2,
    #c0b6db,
    #cfcff9
  );
  height: 3px;
  width: 0%;
  opacity: 0;
  margin-top: 0.2em;
  animation: lineWidth 10s ease-in-out forwards;
}
@keyframes lineWidth {
  0% {
    width: 0%;
    opacity: 0;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}

.lettre {
  animation: textAnimated 60s ease infinite;
}
@keyframes textAnimated {
  0% {
    background: linear-gradient(
      70deg,
      #fdd9cd,
      #e3bcb8,
      #fad6db,
      #e3b8d3,
      #f9cdfd
    );
    background-position: -12em 0;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  50% {
    background: linear-gradient(
      85deg,
      #fdd9cd,
      #e3bcb8,
      #fad6db,
      #e3b8d3,
      #f9cdfd
    );
    background-position: 0 0;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  100% {
    background: linear-gradient(
      70deg,
      #fdd9cd,
      #e3bcb8,
      #fad6db,
      #e3b8d3,
      #f9cdfd
    );
    background-position: -12em;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
}

.lettre::before {
  content: "Alert";
  display: block;
  position: absolute;
  width: 100%;
  animation: scintillement 10s ease-in 10s infinite;
}
@keyframes scintillement {
  0% {
    background: linear-gradient(
        45deg,
        rgba(255, 255, 255, 0.3),
        rgba(200, 200, 200, 0.3)
      )
      no-repeat;
    background-clip: text;
    background-position: -12em 0;
  }
  25% {
    background: linear-gradient(
        75deg,
        rgba(255, 255, 255, 0.5),
        rgba(200, 200, 200, 0.5)
      )
      no-repeat;
    background-clip: text;
    background-position: 12em 0;
  }
  30% {
    background: linear-gradient(
        45deg,
        rgba(255, 255, 255, 0),
        rgba(200, 200, 200, 0)
      )
      no-repeat;
    background-clip: text;
    background-position: 0 0;
  }
}
